<title>Create Attribute Set</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="./js/controls.js" type="text/javascript" charset="utf-8"></script>
 <script src="./js/DragNDrop.js" type="text/javascript" charset="utf-8" async defer></script> 
<!-- <script src="./js/jsBackup.js" type="text/javascript" charset="utf-8" async defer></script> -->