<!DOCTYPE html>
<html lang="en">

<head>
  <%-include Partials/head %>

  <body>
    <%-include Partials/header %>
    <%-include Partials/body %>

    <!--     <a href="http://www.bootply.com/mW09b0bQcE">Edit on Bootply</a> -->
    <div id="testPanel" class="ontainer-fluid">
    </div>
    <!--/container-fluid-->
  </body>
  <script type="text/javascript" charset="utf-8" async defer>
  </script>

</html>